body
{
    margin:0 auto;
    padding: 0;
    /* overflow-x: hidden!important; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider
{
    width:100%;
    height:90vh;
    overflow: hidden;
}
.slides
{
    width:300%;
    height:90vh;
    display:flex;
}
input[type=radio]
{
    display: none;
}
.slide{
    width: 100%;
    transition:2s;
}
.slide img
{
    width:100vw;
    height:90vh;
}
.nav-manual
{

}
.manual
{

}