::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffffff; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff006f; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #900340; 
}
.body-content
{
    margin:0 auto;
    padding: 0;
    
    overflow-x: hidden!important;
    font-family: 'Montserrat', sans-serif;
}
.pink-text
{
    color: #ff006f;
}
.grey-text
{
    color: #919191;
}
.logo
{
	color: #ff006f;
    display: inline-block;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 3.5rem;
    line-height: inherit;
    white-space: nowrap;

}
.logo:hover
{
	color:#d6005d;
	text-decoration: none;
}

.btnSignUp1
{
	background: #ff006f;
    height: 43px;
    width: 128px;
    border-radius: 23px;
    border: 1px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin-left: 38px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.link-font
{
	font-size: 0.8rem;

}
#banner
{
	background:url('office.jpeg');
	height: 85vh;
	background-size: cover;
	background-repeat: no-repeat;
}
.opacity
{
	height:inherit;
	background-color: #ff006f8c;
}
#btnLearn
{
	width: 150px;
    margin-top: 38px;
    background: #ffffff;
    height: 46px;
    color: #ff006f;
    border-radius: 22px;
    border: 1px;
}
#banner-heading
{
	font-size: 2rem;
}
#banner-desc
{
	font-size: 1rem;
}
.banner-text-top
{
	top: 42%;
	bottom: 0;
}
#about
{
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.main-heading
{
    font-size: 0.9rem;
}
.about-head
{
    font-size: 3rem;
}
.about-desc
{
    font-size: 0.9rem;
    padding-top: 1.3em;
}
.btnGetStarted
{
	margin: 47px 0 0 0;
    width: 134px;
    height: 47px;
}
.about-right
{
    padding-top: 5%;
}
.about-img
{
    width: 25em;
    height: 22em;
    border-radius: 21% 47% 43% 21%;
}
.absolute-div
{
    position: absolute;
    left: 7%;
}
.relative-div
{
    width: 22em;
    height: 22em;
    background-color: transparent;
    border: 6px solid #ff006f;
    border-radius: 21% 52% 44% 25%;
    position: relative;
    z-index: 1;
    bottom: 15%;
    left: 23%;
}
#features
{
    padding-top: 3em;
    padding-bottom: 3em;
}
.align-center
{
    text-align: center;
}
.features-head
{
    padding-bottom: 4em;
}
.features-head1
{
    font-size: 2em;
}
.feature-subhead
{
    font-size: 1.5em;
    padding-top: 0.9em;
    padding-bottom: 0.6em;
}
.pd-feature-img
{
    padding-top: 13%;
}
.absolute-div1
{
    width: 25em;
    height: 22em;
    background-color: transparent;
    border: 6px solid #ff006f;
    border-radius: 21% 52% 44% 25%;
    position: absolute;
}
.img-div1
{
    width: 23em;
    height: 21em;
    border-radius: 21% 47% 43% 21%;
    position: relative;
}
.relative-div1
{
    bottom: 18%;
    left: 9%;
}
.feature-right-head
{
    font-size: 2.5em;
}
.feature-right-subhead
{
    font-weight: bold;
    padding-top: 2%;
    font-size: 1.2em;
}
.feature-right-subdesc
{
    padding-top: 3%;
}
#dashboard
{
    background-color: #ececec;
    height: 100vh;
    padding: 3%;
}
.dashboard-head
{
    font-weight: bold;
    font-size: 2em;
    padding: 0.3em 13em 0.3em 13em;
}
.responsive-img
{
    margin-top: 2%;
}
#reviews
{
    padding: 4%;
}
.user-img
{
    width: 103px;
    height: 103px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 30px auto 18px auto;
    display: block;
}
.review-head
{
    font-size: 2.5em;
    padding-left: 5em;
    padding-right: 5em;
}
.review-divs
{
    border: 1px solid #cccc;
    padding: 3% 1%;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 6%;
}
.font-review
{
    font-size: 0.8em;
}
.gradient-div
{
    height: 26vh;
    padding: 4.5% 7%;
    background-image: linear-gradient(to right, #fa0050,#f50062,#ed007d, #e9008f , #e400a0);
}
.gradient-text
{
    color:white;
    font-size: 2em;
}
.btnSignUp2
{
    float: right;
    line-height: 2.5em;
    background: white;
    border: 1px;
    width: 47%;
    color: #ff006f;
    border-radius: 1.5em;
    font-size: 0.8em;
    height: 7vh;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.signUpContent
{
    background-image: url(office.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;

}
.masking-div
{
    background-color: #3a3a3aa6;
}
.opacity-signdiv
{
    background: #3a3a3aa6;
}
.signup-subheading
{
    font-size: 50px;
    
}
.signupSubcontent
{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.signup-subdesc
{
    font-size: 0.9em;
}
.lable-txt
{
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.input1
{
    opacity: 0.7;
    width: 100%;
    height: 58px;
    border-radius: 7px;
    border: 1px solid #ccc;
    margin-top: 9px;
}
.btnSubmit
{
    background: #ff006f;
    width: 100%;
    height: 35px;
    margin-top: 21px;
    border: 1px solid #f94aa1;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}
.footer-pd
{
    padding-top: 2%;
}
.logo-text
{
    font-size: 54px;
    color: #ff006f;
}
.logo-caption
{
    font-size: 14px;
    color: darkgrey;
}
.footer-links-pd
{
    text-decoration: none;
    font-weight: bold;
    color: grey;
    font-size:13px;
    margin-right: 10px;
    
}
.lh-icon
{
    line-height: 21vh;
}
.lh-links
{
    line-height: 17vh;
}
.footer-bottom
{
    height: 18vh;
    background-color: #efefef;
}
@media (min-width: 992px) and (max-width: 1070px)
{
.menu-ml
	{
		margin-left: 40%;
	}
}
@media (min-width: 576px) and (max-width: 765px)
{
    #about
    {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .about-right
    {
        margin-top: 3%;
    }
    .about-heading
    {
        font-size: 0.6rem;
    }
    .about-head
    {
        font-size: 1.3rem;
    }
    .about-desc
    {
        font-size: 0.6rem;
    }
    .btnGetStarted
    {
        margin-top: 23px;
    }
    .about-right
    {
        padding-top: 3rem;
    }
    .about-img
    {
        width: 14em;
        height: 14.5em;
        border-radius: 21% 47% 43% 21%;
    }
    .pd-feature-img 
    {
        padding-top: 17%;
    }
    .relative-div
    {
        border: 5px solid #ff006f;
        width: 14.2em;
        height: 14em;
        bottom: 14%;
        left: 17%;

    }
    .absolute-div1
    {
        width: 16.7em;
        height: 15.5em;
        top: 7%;
        right: 12%;
    }
    .relative-div1
    {
        bottom: 7%;
        left: 9%;
        top:0%;
    }
    .img-div1
    {
        width: 15.5em;
        height: 15em;
        right: 15%;
    }
    .pd-overlapping-img
    {
        margin-top: 5%;
    }
    .feature-right-head 
    {
        font-size: 1.7em;
    }
    .feature-right-subhead 
    {
        font-size: 1em;
    }
    .feature-right-subdesc 
    {
        font-size: 0.9em;
    }
    #dashboard
    {
        height:121vh;
    }
    .dashboard-head
    {
        font-weight: bold;
        font-size: 2em;
        padding: 0.3em 4em 0.3em 4em;
    }
    .responsive-img
    {
        width: 100%;
    }
}
@media (min-width: 766px) and (max-width: 991px)
{
    #about
    {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .about-heading
    {
        font-size: 0.7rem;
    }
    .about-head
    {
        font-size: 1.5rem;
    }
    .about-desc
    {
        font-size: 0.7rem;
    }
    .about-img
    {
        width: 14em;
        height: 14.5em;
        border-radius: 21% 47% 43% 21%;
    }
    .relative-div
    {
        border:5px solid #ff006f;
        width: 14.2em;
        height: 14em;
        bottom: 11%;
        left: 15%;
    }
    .pd-feature-img 
    {
        padding-top: 13%;
    }
    .pd-overlapping-img
    {
        padding-top: 12%;
    }
    .absolute-div1
    {
        top: 7%;
        right: 12%;
        width: 20em;
        height: 18em;
        margin-top: 15%;
    }
    .relative-div1 
    {
        left: 9%;
        bottom: 14%;
    }
    .img-div1
    {
        width: 18em;
        height: 17em;
    }
    #dashboard 
    {
        height: 50vh;
    }
    .dashboard-head
    {
        padding: 0.3em 4em 0.3em 4em;
    }
    .responsive-img
    {
        width: 100%;
    }
    .gradient-div 
    {
        height: 15vh;
        padding: 4.5% 7%;
    }
    .gradient-pd
    {
        padding-top: 2.5%
    }
    .btnSignUp2
    {
        width:68%;
        height:5vh;
    }

}
@media (min-width: 330px) and (max-width: 552px)
{
    .nav-item
    {
        width: 100%;
    }
    .btnSignUp1
    {
        margin-left: 0;
    }
    .banner-text-top
	{
		top: 36%;
    	bottom: 0;
	}
    #banner
    {
        height: 88vh;
    }
    #about
    {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .about-head
    {
        font-size:2rem;
    }
    .about-right
    {
        padding-top: 5rem;
    }
    .about-img
    {
        width: 17em;
        height: 16em;
        border-radius: 21% 47% 43% 21%;
    }
    .relative-div
    {
        width: 16em;
        height: 15em;
        bottom: 14%;
        left: 16%;
    }
    .pd-b
    {
        padding-bottom: 2em;
    }
    .absolute-div1
    {
        width: 16.7em;
        height: 15.5em;
        left: 10%;
    }
    .relative-div1
    {
        bottom: 16%;
        left: 16%;
    }
    .img-div1
    {
        width: 16em;
        height: 15em;
    }
    .feature-right
    {
        padding-top: 12%;
    }
    .feature-right-head
    {
        font-size: 2em;
    }
    .feature-right-subhead
    {
        font-weight: bold;
        padding-top: 10%;
        font-size: 1.2em;
    }
    .feature-right-subdesc
    {
        padding-top: 3%;
    }
    #dashboard
    {
        padding: 10% 7%;
        height:54vh;
    }
    .dashboard-head
    {
        font-weight: bold;
        font-size: 1.3em;
        padding: 0.3em 0em 0.3em 0em;
    }
    .responsive-img
    {
        margin-top: 8%;
        width: 100%;
    }
    .dashboard-desc
    {
        padding-top: 6%;
        font-size: 0.7em;
    }
    #reviews
    {
        padding: 10% 7%;
        
    }
    .review-divs
    {
        border: 1px solid #cccc;
        padding: 5%;
        border-radius: 10px;
        margin: 7% 3% 7% 3%;
    }
    .review-head
    {
        font-size: 1.2em;
        padding-left: 0em;
        padding-right: 0em;
    }
    .gradient-div 
    {
        height: 39vh;
        text-align: center;
    }
    .gradient-pd
    {
        padding-top: 4%;
    }
    .btnSignUp2
    {
    float: none;
    }
    .lh-icon 
    {
    line-height: 18vh;
    }
    .footer-bottom
    {
        height:0vh;
    }
}

